@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-manrope: 'Manrope', sans-serif;
  --font-permanent-marker: 'Permanent Marker', sans-serif;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    font-family: 'Inter';
  }
  h1 {
    @apply leading-[32px] md:leading-[48px] font-light text-[32px] md:text-[40px] xl:text-[48px];
  }
  h2 {
    @apply leading-[28px] md:leading-[32px] xl:leading-[36px] font-light text-[28px] md:text-[32px] xl:text-[36px];
  }
  h3 {
    @apply leading-[30px] md:leading-[32px] xl:leading-[36px] font-normal text-[22px] md:text-[24px] xl:text-[28px];
  }
  sub {
    @apply leading-[24px] font-light text-[18px] md:text-[20px] xl:text-[24px];
  }
  h4 {
    @apply leading-[26px] md:leading-[28px] xl:leading-[30px] font-normal text-[18px] md:text-[20px] xl:text-[22px];
  }
  h5 {
    @apply leading-[24px] xl:leading-[26px] font-normal text-[16px] xl:text-[18px];
  }
  h6 {
    @apply leading-[22px] xl:leading-[24px] font-bold text-[14px] xl:text-[16px];
  }
  p,
  ol,
  ul,
  div {
    @apply leading-[22px] xl:leading-[24px] font-normal text-[14px] xl:text-[16px];
  }
  .body-large {
    @apply leading-[24px] xl:leading-[26px] font-normal text-[16px] xl:text-[18px];
  }
  .body-small {
    @apply leading-[20px] xl:leading-[22px] font-normal text-[12px] xl:text-[14px];
  }
  .p-padding {
    @apply p-[25px] sm:px-[50px] py-[50px] md:p-[100px] min-[1800px]:p-[200px];
  }
  .px-padding {
    @apply px-[25px] sm:px-[50px] md:px-[100px] min-[1800px]:px-[200px];
  }
  /* .py-padding {
    @apply py-[50px] md:py-[100px] min-[1800px]:py-[100px];
  }
  .p-padding {
    @apply p-[25px] py-[50px] md:p-[100px] min-[1800px]:px-[200px] min-[1800px]:py-[150px];
  }
  .pt-padding {
    @apply pt-[50px] md:pt-[100px] min-[1800px]:pt-[150px];
  }
  .pb-padding {
    @apply pb-[50px] md:pb-[100px] min-[1800px]:pb-[150px];
  } */
  /* .nav-padding {
    @apply pt-[125px] lg:pt-[150px];
  } */
  .max-width {
    @apply w-full max-w-[1800px];
  }
  .max-width-center {
    @apply w-full max-w-[1800px] mx-auto;
  }
}

/* remove ring border for all buttons */
button {
  box-shadow: none !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: #fff !important;
  --tw-ring-color: transparent !important;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color) !important;
}

/* remove autofill blue bg in inputs */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* remove arrows from input type number - Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove arrows from input type number - Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* animations */
.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease-out 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.grow-width {
  animation: growWidth;
}

@keyframes growWidth {
  from {
    width: 0px;
  }
  to {
    width: 60%;
  }
}

.shrink-width {
  animation: shrinkWidth;
}

@keyframes shrinkWidth {
  from {
    width: 60%;
  }
  to {
    width: 0px;
  }
}

/* scroll box shadowing */
.y-scrollbox {
  overflow-y: scroll;
  padding-top: 15px;
  padding-bottom: 15px;
  background:
    /* Shadow covers */
    linear-gradient(transparent 30%, transparent),
    linear-gradient(transparent, transparent 70%) 0 100%,
    /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), transparent),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), transparent) 0 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size:
    100% 40px,
    100% 40px,
    100% 14px,
    100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.x-scrollbox {
  overflow-x: scroll;
  overflow-y: hidden;
  background:
    /* Shadow covers */
    linear-gradient(90deg, transparent 30%, transparent),
    linear-gradient(90deg, transparent, transparent 70%) 100% 0,
    /* Shadows */ radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.2), transparent),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), transparent) 100% 0;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size:
    40px 100%,
    40px 100%,
    14px 100%,
    14px 100%;
  background-attachment: local, local, scroll, scroll;
}

.scrollbar-hide {
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
